.header__wrapper {
  width: 1276px;
  height: 83px;
  margin: 0 auto;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 83px;
}

.header__title {
  font-size: 14px;
  color: #E3B873;
}

.header__list {
  width: 582px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__list_item_link {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.header__phone {
  font-size: 14px;
  color: #E3B873;
}

.header__button {
  width: 161px;
  height: 37px;
  background-color: #E3B873;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .header__wrapper {
    height: 57px;
    width: 375px;
  }
}
.main__wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.main__insta-block {
  width: 82px;
  height: 707px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  width: 1358px;
  height: 707px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/bg1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 60px;
}

.main__title {
  width: 520px;
  margin-top: 200px;
  margin-bottom: 33px;
  font-size: 40px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.main__title--orange {
  font-size: 40px;
  color: #E3B873;
}

.main__text {
  width: 500px;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 100;
}

.main__button {
  width: 207px;
  height: 51px;
  margin-right: 20px;
  background-color: #E3B873;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.main__button--transparent {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.main__insta-link {
  font-weight: 400;
  font-size: 14px;
  color: #E3B873;
  text-transform: uppercase;
  text-decoration: none;
  transform: rotate(90deg);
}

.main__insta-link::after {
  content: "";
  display: block;
  width: 51px;
  height: 2px;
  background-color: #E3B873;
  position: relative;
  top: -10px;
  left: 100px;
}

@media (max-width: 1439px) {
  .main__wrapper {
    height: 476px;
    width: 375px;
  }
}
.samples {
  margin-top: 110px;
  padding-bottom: 415px;
}

.samples__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1440px;
  height: 545px;
  box-sizing: border-box;
  margin: 0 auto;
}

.samples__description {
  width: 594px;
  height: 180px;
  margin-top: 80px;
  box-sizing: border-box;
  padding-left: 100px;
  text-align: left;
}

.samples__text {
  width: 430px;
  font-size: 18px;
  color: #FFFFFF;
}

.samples__title {
  width: 160px;
  font-size: 27px;
  color: #E3B873;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 38px;
}

.samples__title::after {
  content: "";
  display: block;
  width: 92px;
  height: 2px;
  background-color: #E3B873;
  position: relative;
  top: -15px;
  left: 180px;
}

.samples__slide-control {
  display: flex;
  width: 210px;
  margin-top: -30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.samples__arrow {
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.samples__arrow::before, .samples__arrow::after {
  position: relative;
  display: block;
  content: "";
  width: 9px;
  height: 2px;
  background-color: #FFFFFF;
  left: -2px;
}

.samples__arrow::before {
  top: 2px;
  transform: rotate(45deg);
}

.samples__arrow::after {
  top: -5px;
  transform: rotate(-45deg);
}

.samples__arrow--right::before, .samples__arrow--right::after {
  left: 33px;
}

.samples__arrow--right::before {
  top: -2px;
}

.samples__arrow--right::after {
  top: 0;
}

.samples__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.3;
  cursor: pointer;
}
.samples__circle--active {
  opacity: 1;
}

.samples__slider {
  width: 844px;
  height: 750px;
  order: 4;
}

.samples__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
}

.samples__link {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  cursor: pointer;
}
.samples__link--active {
  color: #E3B873;
  border-bottom: 2px solid #E3B873;
}
.samples__link:hover {
  color: #E3B873;
}

.samples__slide-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.samples__slide {
  width: 679px;
  height: 482px;
  background-image: url("../assets/images/slide1.jpg");
}
.samples__slide--next {
  width: 145px;
  background-image: url("../assets/images/slide2.jpg");
  background-position-x: -135px;
}

.samples__next-btn {
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  margin-top: 205px;
  background-color: #E3B873;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.samples__next-btn:hover {
  box-shadow: 0px 0px 12px 1px #E3B873;
}

.samples__next-btn::before, .samples__next-btn::after {
  position: relative;
  display: block;
  content: "";
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.samples__next-btn::before {
  transform: rotate(45deg);
  margin-left: 23px;
  top: -3px;
}

.samples__next-btn::after {
  transform: rotate(-45deg);
  margin-left: 23px;
  top: 3px;
}

.samples__data {
  width: 370px;
  height: 220px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.samples__block {
  width: 185px;
  height: 110px;
  text-align: left;
}

.samples__head {
  font-size: 18px;
  color: #E3B873;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.samples__descr {
  width: 100px;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

@media (max-width: 1439px) {
  .samples__wrapper {
    height: 670px;
    width: 375px;
    flex-direction: column;
  }

  .samples__description, .samples__slider, .samples__data {
    width: 367px;
  }

  .samples__description {
    height: 240px;
  }

  .samples__slider {
    height: 240px;
    order: 2;
  }

  .samples__data {
    height: 174px;
    order: 3;
  }
}
.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -350px;
  width: 817px;
  margin: 0 auto;
}

.features__header {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.features__icon {
  width: 33px;
  height: 28px;
  background-image: url("../assets/images/icon1.svg");
}

.features__icon::before, .features__icon::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  top: 15px;
}

.features__icon::before {
  left: -45px;
}

.features__icon::after {
  left: 45px;
  top: 13px;
}

.features__img {
  width: 817px;
  height: 434px;
  margin-top: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/video1.jpg");
  background-size: cover;
  box-shadow: 0px 0px 66px -7px rgba(0, 0, 0, 0.75);
}

.features__hr {
  width: 55px;
  height: 2px;
  background-color: #E3B873;
  margin-top: 60px;
}

.fetures__text {
  width: 700px;
  font-size: 20px;
  margin-top: 30px;
}

.features__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 780px;
  margin-top: 90px;
}

.features__block {
  width: 231px;
  text-align: left;
  border-bottom: 1px solid #363636a1;
}

.features__field-title {
  font-size: 15px;
  color: #363636a1;
}

.features__field-input {
  margin-top: 5px;
  font-size: 18px;
}

.features__btn {
  width: 200px;
  height: 51px;
  background-color: #E3B873;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
}

.features__agreement {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.features__checkbox {
  width: 18px;
  height: 18px;
  background-color: #E3B873;
  border-radius: 1px;
  cursor: pointer;
}

.features__checkbox::before, .features__checkbox::after {
  position: relative;
  display: block;
  content: "";
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.features__checkbox::before {
  transform: rotate(45deg);
  left: 1px;
  top: 8px;
  width: 8px;
}

.features__checkbox::after {
  transform: rotate(-45deg);
  left: 4px;
  top: 4px;
}

.features__label {
  font-size: 16px;
  margin-left: 5px;
}

@media (max-width: 1439px) {
  .features__wrapper {
    height: 907px;
    width: 375px;
  }
}
.types__wrapper {
  width: 1440px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: -150px;
}

.types__header {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

.types__icon {
  width: 28px;
  height: 28px;
  background-image: url("../assets/images/icon2.svg");
}

.types__icon::before, .types__icon::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  top: 15px;
}

.types__icon::before {
  left: -45px;
}

.types__icon::after {
  left: 45px;
  top: 13px;
}

.types__line {
  width: 1236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
}

.types__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 392px;
  height: 600px;
  background-image: url("../assets/images/img1.jpg");
  background-repeat: no-repeat;
}
.types__item--sec {
  background-image: url("../assets/images/img2.jpg");
}
.types__item--third {
  background-image: url("../assets/images/img3.jpg");
}

.types__block {
  width: 330px;
  height: 280px;
  box-sizing: border-box;
  padding-left: 35px;
  margin-top: 280px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.types__title {
  margin-top: 30px;
  margin-bottom: 14px;
  font-size: 18px;
}

.types__list {
  margin-top: 0;
  padding-left: 16px;
}

.types__list_item {
  margin-bottom: 7px;
  color: #959595;
}

.types__price {
  align-self: flex-start;
  margin-left: 30px;
  margin-top: -27px;
  width: 228px;
  height: 54px;
  background-color: #E3B873;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1439px) {
  .types__wrapper {
    width: 375px;
    height: 1800px;
  }

  .types__line {
    width: 375px;
    display: flex;
    flex-direction: column;
  }

  .types__item {
    width: 371px;
    height: 572px;
    border: 2px solid white;
  }
}
.request__wrapper {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 750px;
  margin: 0 auto;
}

.request__bg {
  width: 779px;
  height: 692px;
  background-image: url("../assets/images/bg2.png");
}

.request__section {
  width: 661px;
}

.request__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 506px;
  height: 509px;
  margin-left: 54px;
  margin-top: 100px;
  background-color: #131313;
}

.request__header {
  width: 230px;
  font-size: 20px;
  color: #FFFFFF;
}

.request__block {
  width: 408px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: left;
}

.request__field-title {
  margin-bottom: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.request__field-input {
  margin-bottom: 8px;
  font-size: 18px;
  color: #FFFFFF;
}

.request__agreement {
  width: 408px;
  display: flex;
  flex-direction: row;
}

.request__checkbox {
  width: 18px;
  height: 18px;
  background-color: #E3B873;
  border-radius: 1px;
  cursor: pointer;
}

.request__checkbox::before, .request__checkbox::after {
  position: relative;
  display: block;
  content: "";
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.request__checkbox::before {
  transform: rotate(45deg);
  left: 1px;
  top: 8px;
  width: 8px;
}

.request__checkbox::after {
  transform: rotate(-45deg);
  left: 4px;
  top: 4px;
}

.request__label {
  font-size: 16px;
  margin-left: 5px;
  color: #FFFFFF;
}

.request__line {
  width: 408px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.request__btn {
  margin-right: 0;
  width: 213px;
  height: 51px;
  background-color: #E3B873;
  border: none;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
}

.request__promotion {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 30px;
  width: 506px;
}

.request__icon {
  width: 72px;
  height: 72px;
  background-color: #E3B873;
  border-radius: 50%;
  background-image: url("../assets/images/icon3.svg");
  background-repeat: no-repeat;
  background-position: center, center;
}

.request__text {
  width: 225px;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 20px;
  color: #E3B873;
  text-align: left;
  font-weight: 600;
}

@media (max-width: 1439px) {
  .request {
    display: none;
  }
}
.gallery {
  width: 100%;
}

.gallery__wrapper {
  display: flex;
  flex-direction: row;
  width: 1440px;
  padding: 0 100px;
  height: 1016px;
  margin: 0 auto;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/bg3.jpg");
  background-size: 100% 864px;
  background-repeat: no-repeat;
  background-position-y: 110px;
}

.gallery__information {
  width: 445px;
  text-align: left;
  margin-top: 250px;
}

.gallery__title {
  width: 280px;
  font-size: 27px;
  color: #E3B873;
  text-transform: uppercase;
}

.types__list {
  padding: 0;
}

.gallery__point {
  list-style-type: none;
  margin-bottom: 30px;
}

.gallery__link {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}
.gallery__link:hover {
  text-decoration: underline;
  color: #E3B873;
}
.gallery__link--active {
  text-decoration: underline;
  color: #E3B873;
}

.gallery__line {
  margin-left: 90px;
}

.gallery__item {
  width: 354px;
}

.gallery__item--one {
  margin-top: 70px;
  height: 557px;
  background-image: url("../assets/images/gall1.jpg");
}

.gallery__item--two {
  margin-top: 40px;
  height: 349px;
  background-image: url("../assets/images/gall2.jpg");
}

.gallery__item--three {
  height: 275px;
  background-image: url("../assets/images/gall3.jpg");
}

.gallery__item--four {
  margin-top: 37px;
  height: 625px;
  background-image: url("../assets/images/gall4.jpg");
}

@media (max-width: 1439px) {
  .gallery__wrapper {
    height: 375px;
    width: 375px;
  }
}
.about {
  background-color: #000000;
  text-align: left;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 1238px;
  height: 760px;
  margin: 0 auto;
}

.about__theme {
  display: block;
  width: 1238px;
  position: relative;
  margin: 0 auto;
  top: -20px;
  text-transform: uppercase;
  font-size: 15px;
  color: #FFFFFF;
}

.about__description {
  width: 470px;
  display: flex;
  flex-direction: column;
}

.about__title {
  width: 160px;
  font-size: 27px;
  color: #E3B873;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 90px;
}

.about__title::after {
  content: "";
  display: block;
  width: 92px;
  height: 2px;
  background-color: #E3B873;
  position: relative;
  top: -15px;
  left: 230px;
}

.about__step {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.about__minititle {
  width: 210px;
  font-size: 15px;
  color: #E3B873;
  text-transform: uppercase;
}

.about__text {
  width: 340px;
  margin-bottom: 50px;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
}

.about__slide-control {
  display: flex;
  width: 210px;
  margin-top: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about__arrow {
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.about__arrow::before, .about__arrow::after {
  position: relative;
  display: block;
  content: "";
  width: 9px;
  height: 2px;
  background-color: #FFFFFF;
  left: -2px;
}

.about__arrow::before {
  top: 2px;
  transform: rotate(45deg);
}

.about__arrow::after {
  top: -5px;
  transform: rotate(-45deg);
}

.about__arrow--right::before, .about__arrow--right::after {
  left: 33px;
}

.about__arrow--right::before {
  top: -2px;
}

.about__arrow--right::after {
  top: 0;
}

.about__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.3;
  cursor: pointer;
}
.about__circle--active {
  opacity: 1;
}

.about__gallery {
  width: 768px;
}

.about__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.about__data {
  width: 256px;
  margin-bottom: 20px;
  opacity: 0.5;
  cursor: pointer;
}
.about__data--active {
  opacity: 1;
}
.about__data:hover {
  opacity: 1;
}

.about__number {
  font-size: 15px;
  color: #FFFFFF;
  border-bottom: 2px solid #E3B873;
}

.about__name {
  width: 115px;
  color: #FFFFFF;
  font-size: 15px;
}

.about__slide {
  width: 765px;
  height: 377px;
  margin-top: 60px;
  background-image: url("../assets/images/about.jpg");
}

@media (max-width: 1439px) {
  .about {
    display: none;
  }
}
.team {
  background: linear-gradient(to bottom, #000000 0%, #000000 49%, #FFFFFF 49%, #FFFFFF 100%);
}

.team__wrapper {
  width: 1440px;
  height: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.team__header {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.team__icon {
  width: 33px;
  height: 28px;
  background-image: url("../assets/images/icon4.svg");
}

.team__icon::before, .team__icon::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  top: 15px;
}

.team__icon::before {
  left: -45px;
}

.team__icon::after {
  left: 45px;
  top: 13px;
}

.team__description {
  width: 450px;
  font-size: 20px;
  color: #FFFFFF;
}

.team__line {
  width: 1028px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 85px;
}

.team__item {
  width: 272px;
  height: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.team__item--dm {
  background-image: url("../assets/images/team1.jpg");
}

.team__item--la {
  background-image: url("../assets/images/team3.jpg");
}

.team__item--al {
  background-image: url("../assets/images/team2.jpg");
}

.team__ico {
  position: relative;
  align-self: flex-start;
  top: -35px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-color: #E3B873;
  background-position: center;
}
.team__ico--dm {
  background-image: url("../assets/images/ticon1.svg");
}
.team__ico--la {
  background-image: url("../assets/images/ticon2.svg");
}
.team__ico--al {
  background-image: url("../assets/images/ticon3.svg");
}

.team__badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 233px;
  height: 137px;
  margin-bottom: -80px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.team__name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 800;
}

.team__position {
  font-size: 15px;
  color: #959595;
  margin-bottom: 25px;
}

.team__experience {
  width: 100%;
  height: 44px;
  background-color: #E3B873;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 44px;
  font-weight: 800;
}

.team__devider {
  margin-top: 140px;
  width: 55px;
  border-bottom: 2px solid #E3B873;
}

.team__text {
  width: 500px;
  line-height: 25px;
  font-size: 18px;
}

@media (max-width: 1439px) {
  .team__wrapper {
    width: 375px;
    height: 2348px;
  }

  .team__line {
    width: 375px;
    display: flex;
    flex-direction: column;
  }

  .team__item {
    width: 371px;
    height: 732px;
    border: 2px solid white;
  }
}
.testimonials {
  height: 999px;
  background: #fff;
  padding: 0 7%;
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .testimonials {
    height: 1530px;
  }
}
@media screen and (min-width: 426px) and (max-width: 700px) {
  .testimonials {
    height: 1875px;
  }
}
@media screen and (max-width: 425px) {
  .testimonials {
    display: none;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .testimonials .cards-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 426px) and (max-width: 700px) {
  .testimonials .cards-wrapper {
    height: auto;
  }
}

.testimonials__title {
  font-size: 20px;
  line-height: 28px;
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 13px;
}

.testimonials__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 14px;
}
.testimonials__logo::before {
  content: "";
  position: absolute;
  width: 32px;
  border: 1px solid #e3b873;
  top: 11px;
  right: 100%;
  margin-right: 9px;
}
.testimonials__logo::after {
  content: "";
  position: absolute;
  width: 32px;
  border: 1px solid #e3b873;
  top: 11px;
  left: 100%;
  margin-left: 9px;
}

.testimonials__title-text {
  width: 395px;
  height: 57px;
  font-size: 20px;
  line-height: 27px;
  font-family: "FuturaBookC", sans-serif;
  text-align: center;
  color: #363636;
  margin: 0 auto 42px;
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .testimonials__title-text {
    margin-bottom: 70px;
  }
}

.testimonials__card {
  position: relative;
  width: 30%;
  height: 455px;
}
@media screen and (min-width: 1023px) and (max-width: 1150px) {
  .testimonials__card {
    height: 504px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .testimonials__card {
    width: 100%;
    height: 320px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 426px) and (max-width: 700px) {
  .testimonials__card {
    height: 433px;
  }
}
.testimonials__card .card__content {
  height: 404px;
  padding: 24px 31px 0 20px;
  background: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 1023px) and (max-width: 1150px) {
  .testimonials__card .card__content {
    height: 444px;
  }
}
@media screen and (max-width: 1024px) {
  .testimonials__card .card__content {
    height: auto;
    padding: 24px 31px 14px 20px;
  }
}
@media screen and (min-width: 426px) and (max-width: 700px) {
  .testimonials__card .card__content {
    height: 352px;
  }
}
.testimonials__card .card__content-header {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.testimonials__card .card__content-header .card__content-image {
  height: 76px;
  width: 76px;
  border-radius: 50%;
  margin-right: 23px;
}
.testimonials__card .card__content-header .card__content-title {
  font-size: 18px;
  line-height: 23px;
  width: 178px;
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  color: #181818;
}
.testimonials__card .card__content-text {
  font-size: 15px;
  line-height: 27px;
  font-family: "FuturaBookC", sans-serif;
  color: #959595;
}
.testimonials__card .card__footer {
  width: 293px;
  height: 54px;
  display: flex;
  background: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}
.testimonials__card .card__footer .card__footer-left {
  display: flex;
  align-items: center;
  width: 118px;
  padding: 11px 0 11px 17px;
  border-right: 1px solid #fff;
}
.testimonials__card .card__footer .card__footer-right {
  display: flex;
  align-items: center;
  width: 141px;
  padding: 11px 0 11px 17px;
}
.testimonials__card .card__footer img {
  margin-right: 15px;
}
.testimonials__card .card__footer p {
  font-size: 17px;
  line-height: 24px;
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.contacts-wrapper {
  height: 953px;
  background: url(../assets/images/contacts-bg.png);
  position: relative;
}
@media screen and (max-width: 425px) {
  .contacts-wrapper {
    height: auto;
    background: #181818;
  }
}

.contacts {
  position: absolute;
  left: 18%;
  top: -222px;
  width: 64%;
  height: 1100px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 426px) and (max-width: 650px) {
  .contacts {
    left: 6%;
    width: 89%;
  }
}
@media screen and (max-width: 425px) {
  .contacts {
    position: unset;
    width: 100%;
    height: auto;
  }
}

.contacts__questions-form {
  height: 377px;
  display: block;
  background: #181818;
  padding: 34px 21%;
  margin-bottom: 52px;
}
@media screen and (min-width: 426px) and (max-width: 650px) {
  .contacts__questions-form {
    padding: 34px 3%;
  }
}
@media screen and (max-width: 425px) {
  .contacts__questions-form {
    padding: 0 18px;
    height: auto;
  }
}
.contacts__questions-form .questions-form__title {
  font-size: 20px;
  line-height: 28px;
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 45px;
}
.contacts__questions-form .form__group {
  margin-bottom: 46px;
}
@media screen and (max-width: 425px) {
  .contacts__questions-form .form__group:nth-child(3) {
    margin-bottom: 21px;
  }
}
.contacts__questions-form .form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}
@media screen and (max-width: 425px) {
  .contacts__questions-form .form__row {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.contacts__questions-form .form__row .form__group {
  width: 231px;
  margin-bottom: 0;
}
@media screen and (max-width: 425px) {
  .contacts__questions-form .form__row .form__group {
    width: 100%;
    margin-bottom: 63px;
  }
}
.contacts__questions-form .form__group input {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 25px;
}
.contacts__questions-form .form__group input::-webkit-input-placeholder {
  color: #fff;
}
.contacts__questions-form .form__group input:-ms-input-placeholder {
  color: #fff;
}
.contacts__questions-form .form__group input::placeholder {
  color: #fff;
}
.contacts__questions-form .form__group label {
  color: rgba(255, 255, 255, 0.5);
}
.contacts__questions-form .form__checkbox {
  width: 288px;
  margin: 0 auto 40px;
}
@media screen and (max-width: 425px) {
  .contacts__questions-form .form__checkbox {
    margin: 0 0 40px;
  }
}
.contacts__questions-form .form__checkbox label {
  color: #fff;
}
.contacts__questions-form .request-form__form-submit {
  font-size: 15px;
  line-height: 26px;
  font-family: "FuturaDemiC", sans-serif;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e3b873;
  color: #fff;
  background-color: #e3b873;
  padding: 8px 64px 11px 64px;
  margin: 0 auto;
  display: block;
}
.contacts__questions-form .request-form__form-submit:hover {
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  .contacts__questions-form .request-form__form-submit {
    margin-left: 0;
    padding: 8px 0 11px 0;
    width: 100%;
  }
}

.contacts__address {
  height: auto;
  width: 589px;
  margin: 0 auto 43px;
}
@media screen and (max-width: 780px) {
  .contacts__address {
    width: 500px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .contacts__address {
    width: auto;
  }
}
@media screen and (max-width: 425px) {
  .contacts__address {
    width: auto;
    padding: 0 18px;
    order: 2;
  }
}
.contacts__address .contacts__address-title {
  font-size: 20px;
  line-height: 28px;
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 26px;
}
@media screen and (max-width: 425px) {
  .contacts__address .contacts__address-title {
    font-size: 18px;
    line-height: 25px;
  }
}
.contacts__address .contacts__socials {
  display: flex;
  justify-content: space-between;
  width: 71px;
  margin: 0 auto;
}
.contacts__address .socials__item {
  position: relative;
  display: block;
  color: #fff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.contacts__address .socials__item:hover {
  background: #e3b873;
  border-color: #e3b873;
}
.contacts__address .socials__item i {
  position: absolute;
}
.contacts__address .socials__item .far {
  top: 6px;
  left: 6px;
}
.contacts__address .socials__item .fab {
  top: 6px;
  left: 7px;
}

.contacts__map {
  height: 465px;
  object-fit: cover;
}
@media screen and (max-width: 1000px) {
  .contacts__map {
    height: 390px;
  }
}
@media screen and (max-width: 425px) {
  .contacts__map {
    padding: 0 18px;
    height: 255px;
    margin-bottom: 41px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1438px;
  background-color: #131313;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.white {
  background-color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
