.header__wrapper {
  width: 1276px;
  height: 83px;
  margin: 0 auto;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 83px;
}

.header__title {
  font-size: 14px;
  color: #E3B873;
}

.header__list {
  width: 582px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__list_item_link {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.header__phone {
  font-size: 14px;
  color: #E3B873;
}

.header__button {
  width: 161px;
  height: 37px;
  background-color: #E3B873;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .header__wrapper {
    height: 57px;
    width: 375px;
  }
}
.main__wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.main__insta-block {
  width: 82px;
  height: 707px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  width: 1358px;
  height: 707px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/bg1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 60px;
}

.main__title {
  width: 520px;
  margin-top: 200px;
  margin-bottom: 33px;
  font-size: 40px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.main__title--orange {
  font-size: 40px;
  color: #E3B873;
}

.main__text {
  width: 500px;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 100;
}

.main__button {
  width: 207px;
  height: 51px;
  margin-right: 20px;
  background-color: #E3B873;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.main__button--transparent {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.main__insta-link {
  font-weight: 400;
  font-size: 14px;
  color: #E3B873;
  text-transform: uppercase;
  text-decoration: none;
  transform: rotate(90deg);
}

.main__insta-link::after {
  content: "";
  display: block;
  width: 51px;
  height: 2px;
  background-color: #E3B873;
  position: relative;
  top: -10px;
  left: 100px;
}

@media (max-width: 1439px) {
  .main__wrapper {
    height: 476px;
    width: 375px;
  }
}
.projects {
  margin-top: 110px;
  padding-bottom: 415px;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1440px;
  height: 545px;
  box-sizing: border-box;
  margin: 0 auto;
}

.projects__description {
  width: 594px;
  height: 180px;
  margin-top: 80px;
  box-sizing: border-box;
  padding-left: 100px;
  text-align: left;
}

.projects__text {
  width: 430px;
  font-size: 18px;
  color: #FFFFFF;
}

.projects__title {
  width: 160px;
  font-size: 27px;
  color: #E3B873;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 38px;
}

.projects__title::after {
  content: "";
  display: block;
  width: 92px;
  height: 2px;
  background-color: #E3B873;
  position: relative;
  top: -15px;
  left: 180px;
}

.projects__slide-control {
  display: flex;
  width: 210px;
  margin-top: -30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects__arrow {
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.projects__arrow::before, .projects__arrow::after {
  position: relative;
  display: block;
  content: "";
  width: 9px;
  height: 2px;
  background-color: #FFFFFF;
  left: -2px;
}

.projects__arrow::before {
  top: 2px;
  transform: rotate(45deg);
}

.projects__arrow::after {
  top: -5px;
  transform: rotate(-45deg);
}

.projects__arrow--right::before, .projects__arrow--right::after {
  left: 33px;
}

.projects__arrow--right::before {
  top: -2px;
}

.projects__arrow--right::after {
  top: 0;
}

.projects__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.3;
  cursor: pointer;
}
.projects__circle--active {
  opacity: 1;
}

.projects__slider {
  width: 844px;
  height: 750px;
  order: 4;
}

.projects__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
}

.projects__link {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  cursor: pointer;
}
.projects__link--active {
  color: #E3B873;
  border-bottom: 2px solid #E3B873;
}
.projects__link:hover {
  color: #E3B873;
}

.projects__slide-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects__slide {
  width: 679px;
  height: 482px;
  background-image: url("../assets/images/slide1.jpg");
}
.projects__slide--next {
  width: 145px;
  background-image: url("../assets/images/slide2.jpg");
  background-position-x: -135px;
}

.projects__next-btn {
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  margin-top: 205px;
  background-color: #E3B873;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.projects__next-btn:hover {
  box-shadow: 0px 0px 12px 1px #E3B873;
}

.projects__next-btn::before, .projects__next-btn::after {
  position: relative;
  display: block;
  content: "";
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.projects__next-btn::before {
  transform: rotate(45deg);
  margin-left: 23px;
  top: -3px;
}

.projects__next-btn::after {
  transform: rotate(-45deg);
  margin-left: 23px;
  top: 3px;
}

.projects__data {
  width: 370px;
  height: 220px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects__block {
  width: 185px;
  height: 110px;
  text-align: left;
}

.projects__head {
  font-size: 18px;
  color: #E3B873;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.projects__description {
  width: 100px;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

@media (max-width: 1439px) {
  .projects__wrapper {
    height: 670px;
    width: 375px;
    flex-direction: column;
  }

  .projects__description, .projects__slider, .projects__data {
    width: 367px;
  }

  .projects__description {
    height: 240px;
  }

  .projects__slider {
    height: 240px;
    order: 2;
  }

  .projects__data {
    height: 174px;
    order: 3;
  }
}
.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -350px;
  width: 817px;
  margin: 0 auto;
}

.features__header {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.features__icon {
  width: 33px;
  height: 28px;
  background-image: url("../assets/images/icon1.svg");
}

.features__icon::before, .features__icon::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  top: 15px;
}

.features__icon::before {
  left: -45px;
}

.features__icon::after {
  left: 45px;
  top: 13px;
}

.features__img {
  width: 817px;
  height: 434px;
  margin-top: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/video1.jpg");
  background-size: cover;
  box-shadow: 0px 0px 66px -7px rgba(0, 0, 0, 0.75);
}

.features__play-btn {
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0 auto;
  margin-top: 205px;
  background-color: #E3B873;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.features__play-btn:hover {
  box-shadow: 0px 0px 12px 1px #E3B873;
}

.features__play-btn::after {
  display: block;
  position: relative;
  content: "";
  border: 12px solid transparent;
  border-left: 20px solid #FFFFFF;
  top: 16px;
  left: 21px;
}

.features__hr {
  width: 55px;
  height: 2px;
  background-color: #E3B873;
  margin-top: 60px;
}

.fetures__text {
  width: 700px;
  font-size: 20px;
  margin-top: 30px;
}

.features__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 780px;
  margin-top: 90px;
}

.features__block {
  width: 231px;
  text-align: left;
  border-bottom: 1px solid #363636a1;
}

.features__field-title {
  font-size: 15px;
  color: #363636a1;
}

.features__field-input {
  margin-top: 5px;
  font-size: 18px;
}

.features__btn {
  width: 200px;
  height: 51px;
  background-color: #E3B873;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
}

.features__agreement {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.features__checkbox {
  width: 18px;
  height: 18px;
  background-color: #E3B873;
  border-radius: 1px;
  cursor: pointer;
}

.features__checkbox::before, .features__checkbox::after {
  position: relative;
  display: block;
  content: "";
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.features__checkbox::before {
  transform: rotate(45deg);
  left: 1px;
  top: 8px;
  width: 8px;
}

.features__checkbox::after {
  transform: rotate(-45deg);
  left: 4px;
  top: 4px;
}

.features__label {
  font-size: 16px;
  margin-left: 5px;
}

@media (max-width: 1439px) {
  .features__wrapper {
    height: 907px;
    width: 375px;
  }
}
.types__wrapper {
  width: 1440px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: -150px;
}

.types__header {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

.types__icon {
  width: 28px;
  height: 28px;
  background-image: url("../assets/images/icon2.svg");
}

.types__icon::before, .types__icon::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  top: 15px;
}

.types__icon::before {
  left: -45px;
}

.types__icon::after {
  left: 45px;
  top: 13px;
}

.types__line {
  width: 1236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
}

.types__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 392px;
  height: 600px;
  background-image: url("../assets/images/img1.jpg");
  background-repeat: no-repeat;
}
.types__item--sec {
  background-image: url("../assets/images/img2.jpg");
}
.types__item--third {
  background-image: url("../assets/images/img3.jpg");
}

.types__block {
  width: 330px;
  height: 280px;
  box-sizing: border-box;
  padding-left: 35px;
  margin-top: 280px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.types__title {
  margin-top: 30px;
  margin-bottom: 14px;
  font-size: 18px;
}

.types__list {
  margin-top: 0;
  padding-left: 16px;
}

.types__list_item {
  margin-bottom: 7px;
  color: #959595;
}

.types__price {
  align-self: flex-start;
  margin-left: 30px;
  margin-top: -27px;
  width: 228px;
  height: 54px;
  background-color: #E3B873;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1439px) {
  .types__wrapper {
    width: 375px;
    height: 1800px;
  }

  .types__line {
    width: 375px;
    display: flex;
    flex-direction: column;
  }

  .types__item {
    width: 371px;
    height: 572px;
    border: 2px solid white;
  }
}
.request__wrapper {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 750px;
  margin: 0 auto;
}

.request__bg {
  width: 779px;
  height: 692px;
  background-image: url("../assets/images/bg2.png");
}

.request__section {
  width: 661px;
}

.request__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 506px;
  height: 509px;
  margin-left: 54px;
  margin-top: 100px;
  background-color: #131313;
}

.request__header {
  width: 230px;
  font-size: 20px;
  color: #FFFFFF;
}

.request__block {
  width: 408px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: left;
}

.request__field-title {
  margin-bottom: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.request__field-input {
  margin-bottom: 8px;
  font-size: 18px;
  color: #FFFFFF;
}

.request__agreement {
  width: 408px;
  display: flex;
  flex-direction: row;
}

.request__checkbox {
  width: 18px;
  height: 18px;
  background-color: #E3B873;
  border-radius: 1px;
  cursor: pointer;
}

.request__checkbox::before, .request__checkbox::after {
  position: relative;
  display: block;
  content: "";
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.request__checkbox::before {
  transform: rotate(45deg);
  left: 1px;
  top: 8px;
  width: 8px;
}

.request__checkbox::after {
  transform: rotate(-45deg);
  left: 4px;
  top: 4px;
}

.request__label {
  font-size: 16px;
  margin-left: 5px;
  color: #FFFFFF;
}

.request__line {
  width: 408px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.request__btn {
  margin-right: 0;
  width: 213px;
  height: 51px;
  background-color: #E3B873;
  border: none;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
}

.request__promotion {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 30px;
  width: 506px;
}

.request__icon {
  width: 72px;
  height: 72px;
  background-color: #E3B873;
  border-radius: 50%;
  background-image: url("../assets/images/icon3.svg");
  background-repeat: no-repeat;
  background-position: center, center;
}

.request__text {
  width: 225px;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 20px;
  color: #E3B873;
  text-align: left;
  font-weight: 600;
}

@media (max-width: 1439px) {
  .request {
    display: none;
  }
}
.gallery__wrapper {
  width: 1440px;
  height: 1018px;
  margin: 0 auto;
  background-image: url("../assets/images/bg3.jpg");
  background-repeat: no-repeat;
  background-position-y: 110px;
}

@media (max-width: 1439px) {
  .gallery__wrapper {
    height: 375px;
    width: 375px;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: #131313;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.white {
  background-color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
