@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/projects";
@import "./blocks/features";
@import "./blocks/types";
@import "./blocks/request";
@import "./blocks/gallery";
@import "./blocks/about";
@import "./blocks/team";



* {
  margin: 0;
  padding: 0;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1438px;
    background-color: #131313;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .white {
    background-color: #FFFFFF;
  }