.about__wrapper {
  width: 1440px;
  height: 760px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgba(109, 252, 73, 0.5);
  border: 2px solid rgb(109, 252, 73);
}

@media (max-width: 1439px) {
  .about {
    display: none;
  }
}