.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -350px;
  width: 817px;
  margin: 0 auto;
}

.features__header {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.features__icon {
  width: 33px;
  height: 28px;
  background-image: url('../assets/images/icon1.svg');
}

.features__icon::before, .features__icon::after {
  display: block;
  position: relative;
  content: '';
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  top: 15px;
}

.features__icon::before {
  left: -45px;
}

.features__icon::after {
  left: 45px;
  top: 13px;
}

.features__img {
  width: 817px;
  height: 434px;
  margin-top: 30px;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../assets/images/video1.jpg');
  background-size: cover;
  box-shadow: 0px 0px 66px -7px rgba(0,0,0,0.75);
}

.features__hr {
  width: 55px;
  height: 2px;
  background-color: #E3B873;
  margin-top: 60px;
}

.fetures__text {
  width: 700px;
  font-size: 20px;
  margin-top: 30px;
}

.features__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 780px;
  margin-top: 90px;
}

.features__block {
  width: 231px;
  text-align: left;
  border-bottom: 1px solid #363636a1;
}

.features__field-title {
  font-size: 15px;
  color: #363636a1;
}

.features__field-input {
  margin-top: 5px;
  font-size: 18px;
  outline: none;
}

.features__btn {
  width: 200px;
  height: 51px;
  background-color: #E3B873;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
}

.features__agreement {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.features__checkbox {
  width: 18px;
  height: 18px;
  background-color: #E3B873;
  border-radius: 1px;
  cursor: pointer;
}

.features__checkbox::before, .features__checkbox::after {
  position: relative;
  display: block;
  content: '';
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.features__checkbox::before {
  transform: rotate(45deg);
  left: 1px;
  top: 8px;
  width: 8px;
}

.features__checkbox::after {
  transform: rotate(-45deg);
  left: 4px;
  top: 4px;
}

.features__label {
  font-size: 16px;
  margin-left: 5px;
}

@media (max-width: 1439px) {
  .features__wrapper {
    height: 907px;
    width: 375px;
  }
}