.projects {
  margin-top: 110px;
  padding-bottom: 415px;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1440px;
  height: 545px;
  box-sizing: border-box;
  margin: 0 auto;
}

.projects__description {
  width: 594px;
  height: 180px;
  margin-top: 80px;
  box-sizing: border-box;
  padding-left: 100px;
  text-align: left;
}

.projects__text {
  width: 430px;
  font-size: 18px;
  color: #FFFFFF;
}

.projects__title {
  width: 160px;
  font-size: 27px;
  color: #E3B873;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 38px;
}


.projects__title::after {
  content: '';
  display: block;
  width: 92px;
  height: 2px;
  background-color: #E3B873;
  position: relative;
  top: -15px;
  left: 180px;
}

.projects__slide-control {
  display: flex;
  width: 210px;
  margin-top: -30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects__arrow {
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.projects__arrow::before, .projects__arrow::after {
  position: relative;
  display: block;
  content: '';
  width: 9px;
  height: 2px;
  background-color: #FFFFFF;
  left: -2px;
}

.projects__arrow::before {
  top: 2px;
  transform: rotate(45deg);
}

.projects__arrow::after {
  top: -5px;
  transform: rotate(-45deg);
}

.projects__arrow--right::before, .projects__arrow--right::after {
  left: 33px;
}

.projects__arrow--right::before {
  top: -2px;
}

.projects__arrow--right::after {
  top: 0;
}

.projects__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.3;
  cursor: pointer;
  &--active {
    opacity: 1;
  }
}

.projects__slider {
  width: 844px;
  height: 750px;
  order: 4;
}

.projects__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
}

.projects__link {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  cursor: pointer;
  &--active {
    color: #E3B873;
    border-bottom: 2px solid #E3B873;
  }
  &:hover {
    color: #E3B873;
  }
}

.projects__slide-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects__slide {
  width: 679px;
  height: 482px;
  background-image: url('../assets/images/slide1.jpg');
  &--next {
    width: 145px;
    background-image: url('../assets/images/slide2.jpg');
    background-position-x: -135px;
  }
}

.projects__next-btn {
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  margin-top: 205px;
  background-color: #E3B873;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 12px 1px #E3B873;
  }
}

.projects__next-btn::before, .projects__next-btn::after {
  position: relative;
  display: block;
  content: '';
  width: 13px;
  height: 3px;
  background-color: #FFFFFF;
}

.projects__next-btn::before {
  transform: rotate(45deg);
  margin-left: 23px;
  top: -3px;
}

.projects__next-btn::after {
  transform: rotate(-45deg);
  margin-left: 23px;
  top: 3px;
}

.projects__data {
  width: 370px;
  height: 220px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects__block {
  width: 185px;
  height: 110px;
  text-align: left;
}

.projects__head {
  font-size: 18px;
  color: #E3B873;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.projects__description {
  width: 100px;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}


@media (max-width: 1439px) {
  .projects__wrapper {
    height: 670px;
    width: 375px;
    flex-direction: column;
  }

  .projects__description, .projects__slider, .projects__data {
    width: 367px;
  }

  .projects__description {
    height: 240px;
  }

  .projects__slider {
    height: 240px;
    order: 2;
  }

  .projects__data {
    height: 174px;
    order: 3;
  }
}