.types__wrapper {
  width: 1440px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: -150px;
}


.types__header {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

.types__icon {
  width: 28px;
  height: 28px;
  background-image: url('../assets/images/icon2.svg');
}

.types__icon::before, .types__icon::after {
  display: block;
  position: relative;
  content: '';
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  top: 15px;
}

.types__icon::before {
  left: -45px;
}

.types__icon::after {
  left: 45px;
  top: 13px;
}

.types__line {
  width: 1236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
}

.types__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 392px;
  height: 600px;
  background-image: url('../assets/images/img1.jpg');
  background-repeat: no-repeat;
  &--sec {
    background-image: url('../assets/images/img2.jpg');
  }
  &--third {
    background-image: url('../assets/images/img3.jpg');
  }
}

.types__block {
  width: 330px;
  height: 280px;
  box-sizing: border-box;
  padding-left: 35px;
  margin-top: 280px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  text-align: left;
}

.types__title {
  margin-top: 30px;
  margin-bottom: 14px;
  font-size: 18px;
}

.types__list {
  margin-top: 0;
  padding-left: 16px;
}

.types__list_item {
  margin-bottom: 7px;
  color: #959595;
}

.types__price {
  align-self: flex-start;
  margin-left: 30px;
  margin-top: -27px;
  width: 228px;
  height: 54px;
  background-color: #E3B873;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1439px) {
  .types__wrapper {
    width: 375px;
    height: 1800px;
  }

  .types__line {
    width: 375px;
    display: flex;
    flex-direction: column;
  }

  .types__item {
    width: 371px;
    height: 572px;
    border: 2px solid white;
  }

}